/* RESETING CSS */

:root{
  --primary-100:#805b00;
  --primary-200:#b38835;
  --primary-300:#ffe992;
  --accent-100:#ffc941;
  --accent-200:#926b00;
  --text-100:#d3f1ff;
  --text-200:#95cce7;
  --bg-100:#023047;
  --bg-200:#194058;
  --bg-300:#365973;
}

html {
  /* todo el html va a ser 16px */
  font-size: 16px;
  /* todo va a crecer del borde hacia dentro, el contenido se reduce */
  box-sizing: border-box;
}

/* todos los elementos y pseudo elemtos */
*, *::before, *::after {
  /* box-sizing, no es heredable, por eso usamos inherit */
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* * se basa en lo que se tiene establecido en el root 
  * 1rem = 16px
  * 1.rem = 16px + 8px
  */
  color: var(--text-100);
  background-color: var(--bg-100);
  font-size: 1rem;
  /* *altura de la tipografia (interlineado) */
  line-height: 1.5;
  /* *quitar el borde de lado izquierdo */
  margin: 0;
}

/* *remover subrayado */
a {
  text-decoration: none;
  color: var(--text-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  color: var(--text-200);
}

img {
  /* *maxima anchura al 100% */
  max-width: 100%;
  /* *la altura se calcule automaticamente */
  height: auto;
}

/* ***** HEADER *****/

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--bg-200);
}

.header .container {
  position: relative;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  max-width: 1024px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.logo-img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}

.logo-title {
  font-weight: 400;
  font-size: 1.8rem;
}

.logo-text {
  font-weight: 800;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  color: var(--text-100);
  color: #fff;
}

/* ***** HERO *****/

.hero {
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-100);
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .45);
} */

.hero .container {
  position: relative;
  text-align: center;
  align-items: center;
  color: var(--text-100);
  padding: 25px 10px 25px;
  max-width: 1024px;

}

.hero-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: var(--text-200);
}

/* ***** PAGE AND MEMBERS *****/
.page {
  /* separacion de la parte de arriba */
  padding: 40px 0;
  max-width: 1024px;
}

/* ESTILOS AL TITULO */
.page-title {
  font-size: 2rem;
  text-align: center;
}

/* ESTILOS A LAS TARJETAS */
.members {
  /* flex para que sea mas facil el movimiento de las tarjetas */
  /* cuando se activa flex, la direccion es en filas */
  display: flex;
  /* cuando se trabaja en mobile, siemore la direccion es en columnas */
  flex-direction: column;
  /* espaciado entre las tarjetas */
  gap: 3rem;
}

.member {
  /* border: 1px solid red; */
}

.member-info {
  /* top, left-right, bottom */
  padding: 0 30px 10px;
  margin-bottom: 20px;
  text-align: justify;
}

.member-title {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

/* SE AJUSTA EL PADDING PARA QUE LA DESCRIPCION Y LOS LOGROS ESTEN A LA MISMA MEDIDA */
.member-ach {
  padding: 0 10px 20px;
  margin-top: 20px;
}

.member-ul {
  text-align: justify;
  /* margin-top: 10px; */
  padding: 0 20px 0;
}


/* ***** FOOTER *****/

.footer {
  padding-top: 25px;
}
.footer .container {
  padding: 0 0 30px;
  max-width: 1024px;
}

.copy {
  text-align: center;
}

.copy-title {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--text-100);
  margin-bottom: 10px;
}

.copy-text {
  font-weight: 700;
}

.nav-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-link {
  /* color: var(--text-100); */
  color: var(--text-200);
}

/* ***** RESPONSIVENESS *****/
/* minima anchura */
@media screen and (min-width: 678px) {
  /* ajustar el header */
  .header .container {
    /* la altura va a cambiar */
    height: 130px;
    flex-direction: row;
    /* el header se separa del nav */
    justify-content: space-between;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-description {
    font-size: 2rem;
  }

  .member{
    /* imagens a un lado del texto */
    display: flex;
    align-items: center;
  }

  .page .container {
    padding: 0 20px;
  }

  .member-img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
  }

  .member-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
  }
  
  .members .member:nth-child(odd) {
    border: 2px solid red;
    flex-direction: row-reverse;
  }

  .member-info {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .header .container,
  .hero .container,
  .page,
  .projects .container,
  .footer .container {
    margin: 0 auto;
  }
}