/* RESETING CSS */

:root{
  --primary-100:#805b00;
  --primary-200:#b38835;
  --primary-300:#ffe992;
  --accent-100:#ffc941;
  --accent-200:#926b00;
  --text-100:#d3f1ff;
  --text-200:#95cce7;
  --bg-100:#023047;
  --bg-200:#194058;
  --bg-300:#365973;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', sans-serif;
  color: var(--text-100);

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--bg-100);
  color: var(--text-200);
  
}

/* 
NAV BAR
*/

.nav__bar {
  position: sticky;
  top: 0;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--bg-200);
  color: #ffffff;
}

.nav__links a {
  color: #ffffff;
  top: 20px;
  bottom: 10px;
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.nav__menu {
  display: flex;
  gap: 1rem;
  font-size: 18px;
}

.nav__menu li:hover {
  background-color: var(--bg-300);
  border-radius: 5px;
  transition: .3s ease-in-out;
}

.nav__menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.dropdown {
  background-color: var(--bg-200);
  padding: 1rem 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
  top: 20px;
  bottom: 20px;
}

.dropdown li {
  padding: 0.5rem 1rem;
  width: 8rem;
  text-align: center;
}

.dropdown li:hover {
  background-color: var(--bg-200);
}

.members:hover .dropdown {
  display: block;
  font-size: 12px;
}

/* 
HEADER
*/

.header__h1 {
  text-align: center;
  align-items: center;
  /* border: 0; */
  padding: 30px 0;
  font-size: 3rem;
}

.header__h2 {
  text-align: center;
  align-items: center;
  /* border: 0; */
  padding: 30px 0;
  font-size: 3rem;
}

/* PARAGRAPH */
.paragraph {
  text-align: justify;
  align-items: center;
  border: none;
  padding: 0px 70px;
  font-size: 1.5rem;
  
}

/* ABOUT US */
.about__us {
  text-align: justify;
  align-items: center;
  border: none;
  border: 0;
  padding: 20px;
  
}

.about__us .h2 {
  text-align: center;
  font-size: 2.5rem;
}

/* .about__us.p{
  text-align: justify;
  border: none;
  
} */